<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duke.framework.auth.mapper.basic.ResourceOperationCodeRMapper" >
  <resultMap id="BaseResultMap" type="com.duke.framework.auth.domain.basic.ResourceOperationCodeR" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="resource_id" property="resourceId" jdbcType="VARCHAR" />
    <result column="operation_code_id" property="operationCodeId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from auth_resource_operation_code_r
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.duke.framework.auth.domain.basic.ResourceOperationCodeR" >
    insert into auth_resource_operation_code_r (id, resource_id, operation_code_id
      )
    values (#{id,jdbcType=VARCHAR}, #{resourceId,jdbcType=VARCHAR}, #{operationCodeId,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.duke.framework.auth.domain.basic.ResourceOperationCodeR" >
    update auth_resource_operation_code_r
    set resource_id = #{resourceId,jdbcType=VARCHAR},
      operation_code_id = #{operationCodeId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, resource_id, operation_code_id
    from auth_resource_operation_code_r
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, resource_id, operation_code_id
    from auth_resource_operation_code_r
  </select>
</mapper>